# Can be adjusted based on what you're attempting but info isn't excessive and
# can be very useful.
RUST_LOG=info

# Needs to be a 32 byte hex string, should be generated using a secure RNG
COOKIE_SESSION_KEY=

# Get these from Twitch by registering an App
TWITCH_OAUTH_CLIENT_ID=
TWITCH_OAUTH_CLIENT_SECRET=
